@{
  Layout = "_Layout";
}

@using Crafting.Models;
@model Crafting.Models.Recipe;

<h2>Create a New Recipe:</h2>

@Html.Label("Add an item as an ingredient (recipe input) or product (recipe output):")
<select id="item-to-add">
  @foreach(Item item in ViewBag.Items)
  {
    <option value=@item.ItemId>@item.ItemName</option>
  }
</select>
<input id="qty-to-add" type="number" value = "1" min="1" step="1"/>
<button id="ingredient-add" type="button">Add ingredient</button>
<button id="product-add" type="button">Add product</button>

<form id = "main-form" action="Create" method="POST">
    @Html.LabelFor(model => model.Name, "Name the Recipe:")
    @Html.TextBoxFor(model => model.Name, new{@id = "recipe-name"})
    
    <h4>Ingredients:</h4>
    <div id="ingredients"></div>
    <h4>Products</h4>
    <div id="products"></div>

    <input id="final-check-button" type="submit" value="Add recipe" />
</form>

<script src="~/Scripts/RecipeCreate.js"></script>

